<script>
  $(function() {
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
   });
</script>
<br>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <br>
  <%= image_tag current_course.image, class: 'img-responsive' %>
  <br>
  <%= link_to 'Preview As Student...', course_path(current_course), :class => 'btn btn-warning pull-right' %>
  <br class="clear">
  <div class="text-center">
    <%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), :class => 'btn btn-primary btn-lg' %>
  </div>
  <div class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <div data-update-url="<%= instructor_section_path(section) %>">
        <div class="section">
          <div class="header pull-left">
            <i class="fa fa-ellipsis-v"></i>
            <%= section.title %>
          </div>
          <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), :class => 'pull-right btn btn-primary btn-xs' %>
          <br class="clear">
          <br>
          <div class="lessons">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <div data-update-url="<%= instructor_lesson_path(lesson) %>">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <i class="fa fa-ellipsis-v pull-left"></i>
                    <p><strong><%= lesson.title %></strong></p>
                    <p><%= lesson.subtitle %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
  <br>
</div>