<script>
  $(function() {
    $('.new-lesson-button').click(function(event) {
      var lessonUrl = $( event.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });
  });
  $(function() {
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
   });
</script>
<br>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <br>
  <%= image_tag current_course.image, class: 'img-responsive' %>
  <br>
  <%= link_to 'Preview As Student...', course_path(current_course), :class => 'btn btn-warning pull-right' %>
  <br class="clear">
  <div class="text-center">
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSectionModal">
      Add a new section...
    </button>
  </div>
  <div class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <div data-update-url="<%= instructor_section_path(section) %>">
        <div class="section">
          <div class="header pull-left">
            <i class="fa fa-ellipsis-v"></i>
            <%= section.title %>
          </div>
          <!-- Button trigger modal -->
          <button class="btn btn-primary btn-xs pull-right new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
            New Lesson...
          </button>
          <br class="clear">
          <br>
          <div class="lessons">
            <% section.lessons.rank(:row_order).each do |lesson| %>
              <div data-update-url="<%= instructor_lesson_path(lesson) %>">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <i class="fa fa-ellipsis-v pull-left"></i>
                    <p><strong><%= lesson.title %></strong></p>
                    <p><%= lesson.subtitle %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
</div>

<!-- New Section Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newSectionModalLabel">Add a new section</h4>
      </div>
      <%= simple_form_for @section, :url => instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add a section", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- New Lesson Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newLessonModalLabel">Add a new lesson</h4>
      </div>
      <%= simple_form_for @lesson, :url => "#", :html => {:id => 'newLessonForm' } do |f| %>
        <div class="modal-body">
            <%= f.input :title %>
            <%= f.input :subtitle %>
            <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Add the lesson", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>