<div class="booyah-box col-sm-10 col-sm-offset-1">
  <h2><%= @post.title %></h2>
  <hr class="clear">
  <div class="col-sm-3 text-right">
    <p>
      Posted by: <%= @post.user.email %><br>
      <%= @post.created_at.strftime("%D") %>
    </p>
  </div>
  <div class="col-sm-9">
    <p><%= @post.body %></p>
  </div>
  <% @replies.each do |reply| %>
    <hr class="clear">
    <div class="col-sm-3 text-right">
      <p>
        Posted by: <%= reply.user.email %><br>
        <%= reply.created_at.strftime("%D") %>
      </p>
    </div>
    <div class="col-sm-9">
      <p><%= raw reply.body %></p>
    </div>
  <% end %>
  <div class="clear"></div>
  <% if current_user %>
    <hr class="clear">
    <%= simple_form_for @reply, :url => post_replies_path(@post) do |f| %>
      <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} }, :label => false, :placeholder => "Post a reply..." %>
      <%= f.submit "Reply", class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>




