<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://vjs.zencdn.net/4.6/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.6/video.js"></script>
  <style>
    .video-js {padding-top: 56.25%}
    .vjs-fullscreen {padding-top: 0px}
  </style>
</head>
<body>
  <div id="wrap">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#flixter-top-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Flixter', root_path, :class => 'navbar-brand' %>
          <!-- <a class="navbar-brand" href="#">Flixter</a> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="flixter-top-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'See All Courses', courses_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Forum", topics_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "My Dashboard", dashboards_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="clear"></div>

    <% if notice.present? %>
      <p class="col-sm-12 alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="col-sm-12 alert alert-danger"><%= alert %></p>
    <% end %>

  <%= yield %>
</div> <!-- end #wrap -->
<br class="clear">
<br>
<%= debug(params) if Rails.env.development? %>
  <div id="footer">
    <div class="container">
      <div class="col-sm-3">
        <strong>Teachers</strong>
        <br>
        <%= link_to 'Teach a Course', new_instructor_course_path %>
        <br>
        <%= link_to 'My Dashboard', dashboards_path %>
      </div>
      <div class="col-sm-3">
        <strong>About</strong>
        <br>
        <%= link_to 'Team', team_path %>
        <br>
        <%= link_to 'Careers', careers_path %>
        <br>
        <%= link_to 'Privacy Policy', privacy_path %>
      </div>
      <div class="col-sm-3">
        <strong>Contact</strong>
        <br>
        info@flixter.com
        <br>
        Somewhere Downtown
        <br>
        Seattle, WA
      </div>
      <div class="col-sm-3 social">
        <strong>Social</strong><br>
        <%= link_to 'https://github.com' do %>
          <i class="fa fa-github fa-2x social-button"></i>
        <% end %>
        <%= link_to 'https://www.facebook.com' do %>
          <i class="fa fa-facebook-square fa-2x social-button"></i>
        <% end %>
        <%= link_to 'https://www.twitter.com' do %>
          <i class="fa fa-twitter fa-2x social-button"></i>
        <% end %>
      </div>
    </div>
  </div>

</body>
</html>
